@import "default.css";
@import "logo.css";
@import "menu.css";
@import "search.css";
@import "book.css";
@import "about.css";
@import "devfuner.css";
@import "header.css";
@import "footer.css";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1 auto;
    padding: 1rem;
}
.books-container {
}
.about-container {
    display: none;
}
.devfuner-container {
    display: none;
}